<div class="header"></div>
<div class="content">
  <h2>Performance</h2>
  <p class="description">
    A quantifiable measure to evaluate the success of an organization, employee,
    etc. in meeting <br>objectives for short and long-term performances.
    <a href="https://we-wiki.herokuapp.com/en/CapitalizationTable" target="_blank" class="user-icon" appWikiLink="Calculated by summing pre-money valuation and investment amount." header="Calculation Methods" footer="<span>For more information please go to <a href='https://we-wiki.herokuapp.com/en/home' target='_blank'>FAQ page</a>.</span>">blah</a>
  </p>
  <div class="chart"></div>
  <div class="table"></div>
</div>
