<div class="header"></div>
<div class="content">
  <h2>Performance</h2>
  <p class="description">
    <a href="https://we-wiki.herokuapp.com/en/CorporateGovernance">Performance
      management</a> is a
    <a href="https://we-wiki.herokuapp.com/en/PerformanceManagement" target="_blank" class="user-icon"
      appWikiLink="Corporate governance is the system of rules, practices, and processes by which a firm is directed and controlled. Corporate governance essentially involves balancing the interests of a company's many stakeholders, such as shareholders, senior management executives, customers, suppliers, financiers, the government, and the community."
      header="Corporate management"
      footer="<span>For more information please go to <a href='https://we-wiki.herokuapp.com/en/home' target='_blank'>FAQ page</a>.</span>">corporate
      management </a>tool that helps managers monitor and <a href="https://we-wiki.herokuapp.com/en/Emloyee_evaluation"
      target="_blank" class="user-icon"
      appWikiLink="An employee evaluation, also known as a performance review, is a periodic appraisal of an employee’s performance by their manager. It’s an opportunity to assess the employee’s progress, praise their accomplishments, and collaborate on goals to improve performance and help achieve company objectives."
      header="Employee evaluation"
      footer="<span>For more information please go to <a href='https://we-wiki.herokuapp.com/en/home' target='_blank'>FAQ page</a>.</span>">evaluate</a>
    employees'
    work.<br>Performance management's goal is to create an environment where people can perform to the best of their
    abilities and produce the highest-quality work most efficiently and effectively

  </p>
  <div class="chart"></div>
  <div class="table"></div>
</div>
