.appWikiLink {
  position: fixed;
  background-color: white;
  border: 1px solid #dfdede;
  border-radius: 4px;
  color: black;
  font-family: Arial;
  padding: 16px 8px;
  font-size: 13px;
  margin-top: 5px;
  transform: translateX(-50%);
  font-family: Inter;

  ::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #dfdede;
    right: 0;
    top: 50%;
    position: absolute;
  }
}

.wiki-link_footer {

}

.wiki-link_body {
padding-top: 10px;
}
